<h1>MxM Verballing</h1>

<%= form_for @meeting do |f| %>
  <div id='users'>
    <ul>
      <% @users.in_groups_of(4) do |users| %>
        <li>
          <% users.each do |user| %>
            <% if user %>
              <%= check_box_tag user.id, user.id, false, :name => 'meeting[user_ids][]' -%>
              <%= label_tag user.id, image_tag('/assets/avatars/' + user.image) -%>
            <% end %>
          <% end%>
        </li>
      <% end %>
    </ul>
    <%= f.label :client_id %>
    <%= f.select :client_id, Client.all.map { |c| [c.name, c.id] } %>
    <br/>
    <%= f.label :hours %>
    <%= f.text_field :hours, :value => 0, :size => 2 %>
    <br/>
    <%= f.submit %>
  </div>
<% end %>