<%= form_for @meeting do |f| %>
  <div id='users'>
    <section id='splodges'>
      <ul>
        <% @users.in_groups_of(3) do |users| %>
          <li>
            <% users.each do |user| %>
              <% if user %>
                <%= label_tag user.id, image_tag('/assets/avatars/' + user.image, :height => 180, :width => 150) -%>
                <%= check_box_tag user.id, user.id, false, :name => 'meeting[user_ids][]' -%>
              <% end %>
            <% end%>
          </li>
        <% end %>
      </ul>
      <%= f.select :client_id, Client.order(:name).all.map { |c| [c.name, c.id] } %>
      <br/>
      <%= f.select :hours, 1.step(7, 0.5).collect{ |i| pluralize(i, 'hour') } %>
      <br/>
      <%= f.submit 'Verbal' %>
    </section>
  </div>
<% end %>
