<!DOCTYPE html>
<html>
<head>
  <title>Mxmverballing</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to image_tag 'mxmlogo.gif', :url => '/' %> <span id='title'>verballing</span>
  <div id='flash'><%= flash[:notice] %></div>
  <%= yield %>
  <%= link_to 'All meetings', meetings_path %>
</body>
</html>
